<section class="connected-cities-section " #citySection>
  <div class="container-fluid px-2">
    <div class="row  justify-content-center">
      <div class="col-lg-10 col-xl-10">
        <div class="city-header-content text-start" ##contentRef>
          <h1 class="display-5 m-0 text-primary " #titleRef>
            Driving the Future of Connected Cities
          </h1>
          <p class="lead fs-5 text-muted mb-0" #subtitleRef>
            The GS Group Smart City Command & Control Center (COC) delivers unmatched efficiency, safety, and sustainability for cities ready to lead.
          </p>
        </div>
      </div>
    </div>
  </div>


</section>
