<div id="request-transform-form" class="contact-container" #contactContainer>
  <div class="row h-75 g-0 ">
    <div class="col-lg-5 col-md-6 left-panel d-flex align-items-center justify-content-center" #leftPanel>
      <div class="text-start text-white p-4">
        <h1 class="display-4 text-primary px-4 mb-3" #titleText>Ready to Transform Your Business?</h1>
        @if(isDefault()){
          <p class="lead fs-4 px-4" #subtitleText>Request a Meeting</p>
        }@else{
          <p class="lead fs-4 px-4" #subtitleText>Download Now</p>
        }
      </div>
    </div>

    <div class="col-lg-7 col-md-6 right-panel d-flex align-items-center" #rightPanel>
      <div class="container-fluid p-4 p-lg-5 my_form_container">
        <form [formGroup]="contactForm" (ngSubmit)="createFormRequest()" #formElement class="contact-form">
          <div class="row g-3" [class]="isDefault() ? 'mt-auto' : 'my-2'">
            <div class="col-12" [class]="isDefault() ? 'mt-2' : 'mt-0'" #nameField>
              <label for="name" class="form-label text-white">Name*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="name"
                formControlName="name"
                [class.is-invalid]="isFieldInvalid('name')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('name')">
                Name is required
              </div>
            </div>

            <div class="col-12" [class]="isDefault() ? 'mt-2' : 'mt-0'" #emailField>
              <label for="email" class="form-label text-white">Email*</label>
              <input
                type="email"
                class="form-control form-control-lg"
                id="email"
                formControlName="email"
                [class.is-invalid]="isFieldInvalid('email')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                <span *ngIf="contactForm.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="contactForm.get('email')?.errors?.['email']">Please enter a valid email</span>
              </div>
            </div>

            <div class="col-12" [class]="isDefault() ? 'mt-2' : 'mt-0'" #phoneField>
              <label for="phone" class="form-label text-white">Phone*</label>
              <input
                type="tel"
                class="form-control form-control-lg"
                id="phone"
                [maxLength]="11"
                formControlName="phone"
                [class.is-invalid]="isFieldInvalid('phone')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('phone')">
                Phone is required
              </div>
            </div>

            <div class="col-12" [class]="isDefault() ? 'mt-2' : 'mt-0'" #companyField>
              <label for="company" class="form-label text-white">Company*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="company"
                formControlName="company"
                [class.is-invalid]="isFieldInvalid('company')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('company')">
                Company is required
              </div>
            </div>

            <div class="col-12"  [class]="isDefault() ? 'mt-2' : 'mt-0'" #solutionsField>
              <label for="solutions" class="form-label text-white">Interested Solution(s):</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="solution"
                formControlName="solution"
                [class.is-invalid]="isFieldInvalid('solution')"
              >
              <!-- @if(isDefault()){
                <ng-select
                id="solutions"
                [items]="solutions()"
                [multiple]="true"
                bindValue="value"
                bindLabel="label"
                appendTo="body"
                formControlName="solution"
                 dropdownPosition="auto"
                [class.is-invalid]="isFieldInvalid('solution')"
              >
               
              </ng-select>  
              }@else{
                <ng-select
                id="solutions"
                [items]="solutions()"
                [multiple]="true"
                bindValue="value"
                bindLabel="label"
                formControlName="solution"
                dropdownPosition="top"
                [class.is-invalid]="isFieldInvalid('solution')"
              >
               
              </ng-select>  
              } -->
      
            </div>

            <div class="col-12" [class]="isDefault() ? 'mt-2' : 'mt-0'" #messageField>
              <label for="message" class="form-label text-white">Message:</label>
              <textarea
                class="form-control form-control-lg"
                id="message"
                [rows]="isDefault() ? 4 : 1"
                [style.height]="isDefault() ? 'auto' : '38px'"
                formControlName="message"
                placeholder="Tell us about your organization’s needs"
              ></textarea>
            </div>

          
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 py-4 px-3 text-end my_btn_submit" #submitButton>
      <button
        type="button"
        (click)="createFormRequest()"
        class="xb"
        [disabled]="contactForm.invalid || isSubmitting"
      >
        <span *ngIf="!isSubmitting">Submit</span>
        <span *ngIf="isSubmitting">
          <span class="spinner-border spinner-border-sm me-2" role="status"></span>
          Sending...
        </span>
      </button>
    </div>
  </div>
</div>


<!-- <section id="request-transform-form" class="contact-form-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex flex-column justify-content-center mb-4 mb-lg-0">
        <div class="text-center text-lg-start text-justify-lg">
          <h2>Ready to Transform <br>Your Business?</h2>
          <p class="mt-3">Request a Meeting</p>
        </div>
      </div>

      <div class="col-lg-7">
        <form [formGroup]="form">
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Name*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [class.is-invalid]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)"
              formControlName="name">
             <ng-container *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
               <div class="text-danger">Name is required.</div>
             </ng-container>            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email*</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" [class.is-invalid]="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)"
              formControlName="email">
             <ng-container *ngIf="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)">
               <div class="text-danger">Email is required.</div>
             </ng-container>            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Phone*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [class.is-invalid]="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)"
              formControlName="phone">
             <ng-container *ngIf="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)">
               <div class="text-danger">Phone is required.</div>
             </ng-container>            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Company*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [class.is-invalid]="form.get('company')?.invalid && (form.get('company')?.touched || form.get('company')?.dirty)"
              formControlName="company">
             <ng-container *ngIf="form.get('company')?.invalid && (form.get('company')?.touched || form.get('company')?.dirty)">
               <div class="text-danger">Company is required.</div>
             </ng-container>            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Interested Solution(s):</label>
            <div class="col-sm-9">
              <ng-select [items]="solutions" [multiple]="true" bindLabel="label" bindValue="value"
                formControlName="solution"></ng-select>
    
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Message:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="3" [class.is-invalid]="form.get('message')?.invalid && (form.get('message')?.touched || form.get('message')?.dirty)"
              formControlName="message"></textarea>
             <ng-container *ngIf="form.get('message')?.invalid && (form.get('message')?.touched || form.get('message')?.dirty)">
               <div class="text-danger">Message is required.</div>
             </ng-container>            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<div class="submit-area d-flex justify-content-end me-5 py-4">
  <button type="submit" [disabled]="form.invalid" class="btn-submit" (click)="createFormRequest()">Submit</button>
</div> -->