<section class="contact-form-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 d-flex flex-column justify-content-center mb-4 mb-lg-0">
        <div class="text-center text-lg-start text-justify-lg">
          <h2>Ready to Transform <br>Your Business?</h2>
          <p class="mt-3">Request a Meeting</p>
        </div>
      </div>

      <div class="col-lg-7">
        <form>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Name*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email*</label>
            <div class="col-sm-9">
              <input type="email" class="form-control">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Phone*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Company*</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Interested Solution(s):</label>
            <div class="col-sm-9">
              <select class="form-select">
                <option selected disabled>Select a Solution</option>
                <option>Solution 1</option>
                <option>Solution 2</option>
                <option>Solution 3</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Message:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Submit Button Outside -->
<div class="submit-area">
  <button type="submit" class="btn-submit">Submit</button>
</div>