.bg-dark-blue {
    background-color:#1B252C ;
}

.title {
    color: #00A7E1;
    transform: translateX(-5px);
    font-weight: 300;
}

.text-cyan {
    color: #00A7E1;
}

.container-fluid {
    min-height: 100vh;
}

.content-section {
    display: flex;
    align-items: center;
}

.image-section img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 350;
    color: white;
}

p {

    color: #ffffff;
    word-break: break-word;
    font-size: 1.31rem;
    font-weight: 350;
}

.numbers {
    font-size: 2.5rem;
    /* font-weight: 700; */
    &:last-child {
        transform: translateX(-5px);
    }
}

.text-small {
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width:1024px) {
    .content-section, .image-section img {
        height: auto;
    }


    .inner-wrapper {
        flex-direction: column !important;

    }

    .text-wrapper {
        width: 100%;
        height: fit-content !important;
    }

    .image-section {
        width: 100%;

        & img {
            width: 100%;
        }
    }
}



@media (max-width: 767px) {
    .content-section, .image-section img {
        height: auto;
    }

    .content-section {
        padding: 3rem 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .numbers {
        font-size: 2rem;
    }
}

@media (min-height: 950px) {
    ._section_height{
    height: 100vh !important;
}
}