<div class="container-fluid p-0">
  <div class="inner-wrapper row g-0 _section_height">
    <div class="text-wrapper col-md-4 bg-dark-blue text-white content-section">
      <div class="p-4 w-100">
        <h1 class="title">Egypt: Your Next Competitive Advantage</h1>
        <p class="mt-4">
          Egypt has emerged as a top-tier global offshoring destination offering a young, tech-savvy, and multilingual
          talent pool at highly competitive rates.
        </p>
        <h4 class="mt-5  text-cyan">Home to</h4>
        <p class="numbers mt-3">600K+
          <span class="text-small text-light">Annual Graduates</span>
        </p>
        <p class="numbers">100K
          <span class="text-small text-light">in ICT and Finance</span>
        </p>
        <p class="text-small mt-4" style="font-weight: 350;">
          A vibrant digital economy: Egypt combines depth of talent, cost-efficiency, and government-backed
          transformation initiatives
        </p>
      </div>
    </div>
    <div class="col-md-8 image-section">
      <img src="../../../../assets/Egypt pyramids Section.jpg" alt="Pyramids of Giza with a river">
    </div>
  </div>
</div>