<div class="container my-5">
  <div class="row">
    @for(item of allStrategies; track item;let i = $index, first = $first, last = $last, even = $even, odd = $odd){
    <div class="col-md-6 d-flex  gap-1 p-0 px-2 mb-3" [ngClass]="{ 'justify-content-end': even }">
      <div class="card">
        <img [src]="item.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}.</p>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="row my-4">
    <div class="col-md-12  text-center">
      <span class="me-3 fs-5">
        Find out more about our Strategy as a Service
      </span>
      <button class="btn download-button" (click)="goToRequestTransformForm()">
        Download Now
      </button>
    </div>
  </div>
</div>