<router-outlet />
<div id="goTopBtn" class="go-to-top-btn" style="display: block;">
    <div class="svg-go-to-top">
        <svg id="goTop" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 160.823 206.843">
            <g id="Icon_20_Grey_Arrow" data-name="Icon / 20 / Grey / Arrow" transform="translate(0 0)">
                <path id="Shape"
                    d="M88.623,72.45,19.279,3.3A11.277,11.277,0,0,0,3.307,19.226L64.665,80.413,3.309,141.6a11.278,11.278,0,1,0,15.972,15.927l69.344-69.15a11.239,11.239,0,0,0,0-15.924Z"
                    transform="translate(0 91.93) rotate(-90)" fill="#fff"></path>
            </g>
            <g id="Icon_20_Grey_Arrow-2" data-name="Icon / 20 / Grey / Arrow" transform="translate(0 114.913)"
                style="isolation:isolate">
                <path id="Shape-2" data-name="Shape"
                    d="M88.623,72.45,19.279,3.3A11.277,11.277,0,0,0,3.307,19.226L64.665,80.413,3.309,141.6a11.278,11.278,0,1,0,15.972,15.927l69.344-69.15a11.239,11.239,0,0,0,0-15.924Z"
                    transform="translate(0 91.93) rotate(-90)" fill="#1b252c"></path>
            </g>
        </svg>
    </div>
</div>
<div class="mobile-menu-btn" id="mobile-menu-btn-open" style="display: block;">
    <div class="mobile-menu-icon">
        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="400px" height="800px" viewBox="0 0 24.75 24.75"
            xml:space="preserve" class="menu-btn">
            <g>
                <path d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2
		c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2
		c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z"></path>
            </g>
        </svg>
    </div>
</div>
<div class="mobile-menu-btn mobile-menu-btn-close" id="mobile-menu-btn-close" style="display: none;">
    <div class="mobile-menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"
            width="30px" height="30px">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <g transform="scale(5.12,5.12)">
                    <path
                        d="M9.15625,6.3125l-2.84375,2.84375l15.84375,15.84375l-15.9375,15.96875l2.8125,2.8125l15.96875,-15.9375l15.9375,15.9375l2.84375,-2.84375l-15.9375,-15.9375l15.84375,-15.84375l-2.84375,-2.84375l-15.84375,15.84375z">
                    </path>
                </g>
            </g>
        </svg>
    </div>
</div>