<div class="container-fluid">
  <section class="bg-color">
    <div class="row align-items-center">

      <!-- Image -->
      <div class="col-md-5 p-0">
        <img src="../../../../assets/delivery-image.png" alt="delivery-image"
          class="img-fluid h-100 w-100 object-fit-cover" />
      </div>

      <!-- Text Content -->
      <div class="col-md-7 p-0 px-5">
        <div class="content-container">
          <h2 class="text-white x_deliver">What We Deliver<br>Today and at Scale</h2>
          <p class="w-75 mt-2">
            From full-stack development and cybersecurity to business intelligence and agile project management,
            our GDC spans 560+ professionals across 10+ high-impact service domains.
          </p>
          <div class="button-container">
            <a href="#" class="btn btn-link text-white fs-4 text-decoration-none px-0">
              Download Our Capabilities Profile
            </a>
            <button type="button" (click)="goToRequestTransformForm(content)"
              class="bg-white text-primary-custom xb">Download Now</button>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<!-- Request Transform Form Component  -->

<!-- here is the dialog to open the form -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Download Now</h4>
    <button type="button" class="btn-close bg-light" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body m-0 p-0">
    <app-request-transform-form [isDefault]="false"></app-request-transform-form>
  </div>
</ng-template>