<div class="container-fluid">
  <section class="bg-color">
    <div class="row">
      <div class="col-md-5 p-0">
        <img height="450px" src="../../../../assets/delivery-image.png" alt="delivery-image" />
      </div>

      <div class="col-md-6 p-0">
        <div class="text-holder">
          <h2 class="text-blue">What We Deliver<br>Today and at Scale</h2>
          <p>From full-stack development and cybersecurity to business intelligence and agile project management, our
            GDC
            spans 560+ professionals across 10+ high-impact service domains.</p>
          <div class="button-container">
            <a href="#" class="btn btn-link text-blue text-decoration-none">Download Our Capabilities Profile</a>
            <button type="button" class="btn btn-outline-primary-custom">Download</button>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>