
@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-Normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-DemiBold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro';
  src: url('./assets/fonts/TT-Norms-Pro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Norms Pro', sans-serif;
}
.xb{
  color: rgb(255, 255, 255);
    font-size: 18px;
    background: 0% 0% no-repeat padding-box padding-box rgb(0, 167, 225);
    border-radius: 12px;
    padding: 7px 15px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    &:disabled{
      opacity: 0.7;
      transform: none;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

}
.toast-info{
  background-color: rgb(0, 167, 225) !important;
}
    