<div class="container-fluid p-0">
  <section class="hero-section">
    <div class="hero-background">
      <img src="../../../../assets/client-choice-bg.png" alt="GSystems choice" loading="lazy">
    </div>

    <div class="container hero-content">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-6">
          <h4 class="hero-title "
            [ngClass]="{ 'text-start': currentZoom == 100, 'text-end translateX-30 ': currentZoom > 100 }">
            Why Clients Choose <br>Giza Systems' GDC
          </h4>
        </div>
      </div>
    </div>
  </section>


  <section class="sub-hero-background">
    <div class="container py-5">
      <div class="row g-2 justify-content-start align-items-start"
        style="width: calc(100% + 12rem); transform: translateX(-1%);">

        <div class="col-12 col-md-6 col-lg-4">
          <div class="info-box">
            <div class="icon-box"></div>
            <p class="info-text">
              Certified professionals across AI, data, DevOps, ERP & more
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="info-box">
            <div class="icon-box"></div>
            <p class="info-text">
              Proven agile delivery across telecom, finance, manufacturing and public sector
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 ">
          <div class="info-box ">
            <div class="icon-box"></div>
            <p class="info-text">
              ISO, ITIL & Agile compliance
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 m-0">
          <div class="info-box m-0">
            <div class="icon-box"></div>
            <p class="info-text">
              Custom engagement models: from embedded talent to end-to-end delivery
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 m-0">
          <div class="info-box m-0">
            <div class="icon-box"></div>
            <p class="info-text">
              50+ Years of regional transformation experience
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>